<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hello Vuetable!</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/dist/app.css") %>">
</head>

<body>
  <nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary mb-3">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link "Myproject", to: page_path(@conn, :index), class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li><a href="/" class="nav-link">Button</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= show_flash(@conn) %>
    <main role="main">
      <div class="jumbotron text-center">
        <h2>Welcome to Myproject!</h2>
        <p class="lead">Give me all of your monies pls</p>
      </div>
      <h3>Application colors</h3>
      <div class="mt-3 d-flex flex-wrap justify-content-center align-items-center">
        <button type="button" class="btn m-3 btn-primary">Primary</button>
        <button type="button" class="btn m-3 btn-secondary">Secondary</button>
        <button type="button" class="btn m-3 btn-success">Success</button>
        <button type="button" class="btn m-3 btn-info">Info</button>
        <button type="button" class="btn m-3 btn-warning">Warning</button>
        <button type="button" class="btn m-3 btn-danger">Danger</button>
        <button type="button" class="btn m-3 btn-link">Link</button>
      </div>
    </main>
  </div>
  <script src="<%= static_path(@conn, "/dist/app.js") %>"></script>
</body>
</html>
